.content-section {
    margin-top: 82px;
    padding: 29px 0 58px;
    background-color: var(--colorBack);
}

.content-section__title {
    text-align: center;
    margin-bottom: 35px;
}

.about-content__wrap {

}
