:root {
    --colorGrey: #9D9D9D;
    --colorBlack: #171717;
    --colorWhite: #fff;
    --colorLilac: #DBBEFF;
    --colorText: #F9F9F9;
    --colorBack: #1C0033;
    --colorViolet: linear-gradient(180deg, #6700EB 0%, #57008C 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--colorText);
}

/*burger****/
body.overflow {
    overflow: hidden;
}

/*****/

h1, h2, h3, h4 {
    text-transform: capitalize;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: var(--colorWhite);
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: var(--colorWhite);
}

h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: var(--colorLilac);
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--colorLilac);
}

p {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: var(--colorText);
}

@media (min-width: 767px) {
    h1 {
        font-size: 70px;
        line-height: 82px;
    }

    h2 {
        font-size: 45px;
        line-height: 53px;
    }

    h3 {
        font-size: 35px;
        line-height: 41px;
    }

    h4 {
        font-size: 30px;
        line-height: 34px;
    }

    p {
        font-size: 24px;
        line-height: 33px;
    }
}

input {
    background-color: #231C2C;
}

input:not(input[type=checkbox]){
    border: 2px solid #A259FF;
    border-radius: 5px;
}

@media (min-width: 767px) {
    input {
        font-size: 19px;
    }
}

::-webkit-input-placeholder {
    color: #B8B8B8;
}
::-moz-placeholder {
    color: #B8B8B8;
}
:-ms-input-placeholder {
    color: #B8B8B8;
}

.btn-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #D8B500 0%, #FF9900 100%);
    border: 2px solid #FFD600;
    border-radius: 20px;
    color: var(--colorWhite);
}

.btn-violet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorViolet);
    border-radius: 10px;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
}

/*HEADER*/

.header {
    min-height: 82px;
    background-color: var(--colorBlack);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo {
    display: block;
    max-width: 98px;
    position: relative;
    z-index: 6;
    margin: 0 auto;
}

.burger-logo {
    display: none;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease;
    transform: translateX(-110%);
}

.nav.active {
    transform: translateX(0);
}

/*Nav-container*/

.menu-container {
    height: 100vh;
    width: 100%;
    background-color: var(--colorBlack);
    display: flex;
    flex-direction: column;
    padding-top: 77px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-item:first-child {
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
}

.nav-item:not(:first-child) {
    border-bottom: 1px solid #292929;
}

.nav-item {
    padding: 10px 0;
}

.nav-item__img {
    margin: 0 10px 0 25px;
    height: 17px;
    width: 22px;
}

.nav-link {
    font-size: 14px;
    line-height: 20px;
    color: var(--colorWhite);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px 16px;
    padding: 0 25px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
}

.btnLogin {
    border: 2px solid #57008C;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--colorGrey);
}

.btnSign {
    background: var(--colorViolet);
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--colorWhite);
}

/*Burger-button*/

.burger {
    position: absolute;
    left: 20px;
    top: 38%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-start;
    background-color: transparent
}

.burger.active {
    position: absolute;
    left: 90%;
    z-index: 6;
}

.burger span {
    width: 20px;
    height: 2px;
    background-color: var(--colorWhite);
    transition: all 0.3s ease;
}

.burger span:nth-child(1) {
    margin-bottom: 3px;
}

.burger span:nth-child(3) {
    margin-top: 3px;
}

.burger.active span {
    position: absolute;
    background-color: var(--colorGrey);
}

.burger.active span:nth-child(1) {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width: 767px) {
    .header-container {
        padding: 0 25px;
    }

    .menu-container {
        height: 100%;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
    }

    .nav {
        position: static;
        transform: translateX(0);
        padding: 0;
        width: auto;
    }

    .nav-list {
        margin-bottom: 0;
        flex-direction: row;
        column-gap: 25px;
        flex-basis: 50%;
    }

    .nav-item {
        padding: 0;
    }

    .nav-item:not(:first-child) {
        border: 0;
    }

    .nav-item:first-child {
        border: 0;
    }

    .nav-item__img {
        display: none;
    }

    .nav-link {
        font-size: 18px;
        line-height: 21px;
        color: var(--colorGrey);
        white-space: nowrap;
    }

    .nav-link:hover {
        color: var(--colorWhite);
    }

    .nav-buttons {
        flex-direction: row;
        padding: 0;
        flex-basis: 50%;
        justify-content: right;

    }

    .nav-btn {
        height: 48px;
        width: 100px;
        border-radius: 10px;
    }

    .burger {
        display: none;
    }

    .header-logo {
        display: none;
    }
}

@media (min-width: 1300px) {
    .header-container {
        padding: 0 50px;
    }

    .burger-logo {
        height: 54px;
        display: block;
        flex-basis: content;
    }

    .nav-list {
        column-gap: 34px;
    }

    .nav-btn {
        height: 48px;
        width: 137px;
        border-radius: 10px;
    }

}

/*BODY*/

.main {
    flex: 1 1 auto;
}

.head-sections {
    background: url("../images/backMob-head.png") center/cover no-repeat;
}

.head-sections__wrap {
    text-align: center;
    padding: 88px 10px 61px;
}

.head-sections__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 58px;
    color: var(--colorWhite);
    text-transform: capitalize;
    margin-bottom: 146px;
}

.head-sections__button {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    padding: 17px 60px;
    margin: 0 auto;
    white-space: nowrap;
    text-transform: uppercase;
}

@media (min-width: 767px) {
    .head-sections {
        background-image: url("../images/back-head.png");
    }

    .head-sections__wrap {
        padding: 133px 0 68px;
    }

    .head-sections__title {
        font-size: 82px;
        line-height: 96px;
        margin-bottom: 34px;
    }

    .head-sections__button {
        padding: 20px 80px;
    }
}

/*content-section*/

.content-section {
    background-color: var(--colorBack);
    padding: 53px 0 34px;
}

.content-section__title {
    text-align: center;
    margin-bottom: 43px;
}

.content-section__text:not(:last-child) {
    margin-bottom: 20px;
}

/*info-section*/

.info-section {
    background: url("../images/backMob-info.png") center/cover no-repeat;
    padding: 42px 0;
}

.info-section__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 67px 140px;
}

.info-section__box {
    text-align: center;
    width: 163px;
}

.info-section__img {
    height: 125px;
    margin-bottom: 32px;
}

.info-section__title {
    color: var(--colorWhite);
    line-height: 33px;
}

@media (min-width: 767px) {
    .info-section {
        background: url("../images/back-info.png") center/cover no-repeat;
    }

    .info-section__title {
        font-size: 25px;
    }
}

/*Game-section*/

.game-section {
    background-color: var(--colorBack);
    padding: 30px 0 47px;
}

.game-section__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
}

.game-section__box {
    height: 20vh;
    position: relative;
}

.game-section__play {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--colorBlack);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease;
    padding: 0 10px;
}

.game-section__play:hover {
    opacity: 1;
}

.game-section__title {
    color: var(--colorWhite);
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 18px;
}

.game-section__button {
    height: 33px;
    width: 93px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    margin: 0 auto;
}


@media (min-width: 767px) {
    .game-section {
        padding: 83px 0;
    }

    .game-section__wrap {
        gap: 24px;
    }

    .game-section__box {
        height: 100%;
    }

    .game-section__title {
        font-size: 22px;
        line-height: 26px;
    }

    .game-section__button {
        height: 48px;
        width: 137px;
        font-size: 18px;
        line-height: 21px;
    }
}

/*FOOTER*/

.footer {
    background-color: var(--colorBlack);
    padding: 30px 0 64px;
    text-align: center;
}

.footer__logo {
    height: 40px;
    width: 97px;
    margin-bottom: 30px;
}

.footer span {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: var(--colorGrey);
}

.footer__copy {
    display: block;
    margin-bottom: 16px;
}

.footer__text {
    max-width: 673px;
    margin: 0 auto;
}

@media (min-width: 767px) {
    .footer__logo {
        height: 71px;
        width: 173px;
        margin-bottom: 34px;
    }

    .footer__copy {
        margin-bottom: 27px;
    }

    .footer span {
        font-size: 18px;
        line-height: 21px;
    }
}
