header {
    opacity: 1!important;
}

.contact-section {
    margin-top: 62px;
    padding: 29px 20px 58px;
    background-color: var(--colorBack);
}

.contact-title {
    text-align: center;
    margin-bottom: 35px;
}

.contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 45px;
    -moz-column-gap: 45px;
    column-gap: 45px;
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
}

.contact-form input {
    padding: 17px 9px 20px;
    border: 2px solid #A259FF;
    border-radius: 5px;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 19px;
}

.contact-form textarea {
    min-height: 130px;
    padding: 14px 9px;
    border: 2px solid #A259FF;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
}

.contact-btn {
    padding: 14px 78px;
    margin: 0 auto;
}

.contact-img {
    display: none;
}

@media (min-width: 767px) {
    .contact-section {
        margin-top: 82px;
        padding: 86px 0 153px;
    }

    .contact-form {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }

    .contact-title {
        margin-bottom: 13px;
    }

    .contact-wrap {
        padding: 0 80px;
    }

    .contact-form label {
        font-size: 18px;
        line-height: 21px;
    }

    .contact-form input {
        font-size: 19px;
        line-height: 22px;
    }

    .contact-btn {
        width: 100%;
    }

    .contact-img {
        display: block;
    }
}

@media (min-width: 1023px) {
    .contact-wrap {
        padding: 0 108px 0 200px;
    }
}
