header {
    opacity: 1!important;
}

.privacy-section {
    margin-top: 62px;
    padding: 29px 0 27px;
    background-color: var(--colorBack);
}

.privacy-section__title {
    text-align: center;
    margin-bottom: 40px;
}

.privacy-section__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.privacy-section__list li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 12px;
}

.privacy-section__list p {
    display: inline-block;
}
@media (min-width: 767px) {
    .privacy-section {
        margin-top: 82px;
        padding: 86px 0 102px;
    }
    .privacy-section__title {
        margin-bottom: 70px;
    }
}
